@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  max-width: 100%;
  overflow-x: hidden;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color: #bb1919;
  --btn: #aa35d6;
}

.color-main {
  color: var(--btn);
}

.headings {
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color:#ea272d;
  border-color: #ea272d;
}

.btn-primary:hover {
  background-color: #a30c11;
  border-color: #a30c11;
}

.btn-info {
  background-color: #e12235;
}




/*Navbar*/
.navbar-brand {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Poppins';
}
.navbar-brand:hover {
  color: whitesmoke;
}

.navbar-expand-lg li a {
  color: white;
}

.navbar {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

.nav {
  color: white;
}

.nav-item {
  text-transform: uppercase;
}

/*Headlines Section*/
.card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 71vh;
}

.headline-text {
  margin-top: 210px;
  color: white;
}

.headline {
  margin-top: 0px;
  color: white;
}

.news-headings a {
  color: white;
  font-weight: 500;
  font-size: 1.7rem;
}

.news-right .news-headings a {
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.news-right .card-image {
  height: 195px;
}

.news-right .news-headings a {
  font-weight: 900;
  color: #fff;
}